/Jhong,Example.BuildExcerpts/bin
/Jhong,Example.BuildExcerpts/obj
/Jhong.Example.BuildKeywords/bin
/Jhong.Example.BuildKeywords/obj
/Jhong.Example.MatchMode/obj
/Jhong.Example.MatchMode/bin
/Jhong.Example.MultiQuery/obj
/Jhong.Example.MultiQuery/bin
/Jhong.Example.QueryLimit/bin
/Jhong.Example.QueryLimit/obj
/Jhong.Example.SimpleQuery/obj
/Jhong.Example.SimpleQuery/bin
/packages
/SphinxClient/obj
/SphinxClient/bin
/Jhong,Example.Status/bin
/Jhong,Example.Status/obj
/Jhong.Example.BuildExcerpts/bin
/Jhong.Example.BuildExcerpts/obj
